<%- include("partials/header.ejs") -%>

<div class="main">
    <div class="container">
        <div class="quote">
            <h1><%= q %></h1>
            <p><%= a %></p>
        
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") -%>